html,
body {
  position: relative;
  height: 100%;
}

.Project_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 1rem;
}
.project_data {
  color: white;
  padding: 10px !important;
  background: rgba(70, 11, 179, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(70, 11, 179, 0.22);
}

.project_data > h1 {
  font: 600 1.8rem sans-serif;
  text-transform: uppercase;
}
.project_data > p {
  font: 400 1.2rem cursive;
  text-transform: capitalize;
}
.carousel_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}
.carousel{
  width: 60%;
}
.project_Content {
  display: flex;
  align-items: center;
}
.portfolio_img img {
  height: 40px;
}
.carousel-indicators [data-bs-target] {
  width:10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: rgba(70, 11, 179, 0.26) !important;
}
.carousel-indicators .active {
  background-color: rgba(70, 11, 179, 0.8) !important;
}
@media only screen and (min-width: 650px) and (max-width: 990px) {
  .swiper {
    width: 100%;
    height: auto;
  }
  .project_Content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .carousel {
    width: 100%;
  }
}

@media only screen and (max-width: 670px) {
  .swiper {
    width: 100%;
    height: auto;
  }
  .project_Content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .project_data {
    margin: 1.5rem 0;
  }
  .swiper-slide img {
    display: block;
    width: 20rem;
    object-fit: cover;
  }
    .carousel {
    width: 100%;
  }
  .project_data > h1 {
  font-size: 1rem;
  
}
.project_data > p {
  font-size: .5rem;

}
}

.portfolio_img {
  border-radius: 20px;
  box-shadow: 2px 2px 10px grey;
}
.portfolio_img:hover {
  box-shadow: 10px 10px 10px grey;
}
.project_data {
  margin: 0 1rem;
  padding: 0 1rem;
}
