* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {

  margin: 10.5rem 7rem;
}

.main_header {
  margin-top: 3rem;
}
.main_Hero {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
.image_G2 {
  width: 37vh;
  height: 37vh;
  border-bottom: 2px solid rgb(37, 0, 105);
  border-radius: 30%;
}
.image_G2_back:hover {
  animation: pause;
}
.image_G2_back {
  margin: 0.5rem;
  width: 35vh;
  height: 35vh;
  border-radius: 30%;
  background-image: url(../assets/sejalW.jpg);
  background-size: cover;
  transition: all 0.2ms ease-in-out;
  animation: bounce-top 2s ease-in-out infinite;
}


@keyframes bounce-top {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}
.G1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  flex-wrap: wrap;
}
.headline {
  font-weight: 900;
  font-size: 38px;
  margin-bottom: 1rem;
}
h3 {
  color: #6d6c6c;
  margin-bottom: 0.5rem;
}
.img_Intro {
  border: 1px solid rgb(37, 0, 105);
  width: 40vh;
  height: 55vh;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border-radius: 5px; */
  box-shadow: 0 0 5px 0 rgb(37, 0, 105);
}
.about_details {
  width: 70%;
  padding-left: 50px;
}

.about_section {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  box-sizing: border-box;
  justify-content: space-evenly;
}
.sec2 {
  display: flex;
  flex-direction: column;

  /* padding: 2rem 5rem; */
}
button {
  padding: 0.9rem;
  margin: 1rem 0rem;
  font-size: 14px;
  background-color: rgb(70, 11, 179);
  color: white;
  font-weight: 700;
  border: rgb(70, 11, 179);
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
button:hover {
  box-shadow: rgb(33, 5, 85, 0.5) 0 0 10px 0;
}
button a {
  color: aliceblue;
  text-decoration: none;
}

.cards {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
}
.card {
  border-radius: 15px;
  box-shadow: #918e8e 0px 0 8px;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  align-items: center;
  background-color: #fff;
  transition: all 0.5s;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.04);
}
span {
  text-align: center;
}
.c1 {
  color: blue;
}
.c2 {
  color: brown;
}
.c3 {
  color: cornflowerblue;
}
.c4 {
  color: goldenrod;
}
.c5 {
  color: orangered;
}
.c6 {
  color: rgb(68, 19, 142);
}
.c7 {
  color: rgb(5, 5, 141);
}
.c8 {
  color: red;
}
.c9 {
  color: gold;
}
.act_title {
  margin: 6rem 0rem;
}
.Qua {
  font-size: 28px;
}
.hero_content {
  width: 18rem;
}

.about_p {
  width: 18rem;
}
.switch {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  text-align: center;
  margin-left: -2rem;
  font-size: 20px;
  font-weight: 600;
  height: 5rem;
}
.switch > p {
  margin: 0 1rem;
  font-size: 2rem;
  color: rgba(51, 51, 51, 0.784);
}

.subH {
  font-size: 20px;
  font-weight: 600;
  /* color: #6d6c6c; */
  cursor: pointer;
  padding: 10px 0px;
  transition: all 0.5s;
}
.subH:hover {
  color: rgb(102, 15, 179);
}

.active {
  cursor: pointer;
  transition: all 0.5s;
  padding-bottom: 10px;
  border-bottom: 3px solid;
  color: rgb(102, 15, 179);
}

.timeline1 {
  position: relative;
}
.timeline2 {
  position: relative;
}
.timeline1off,
.timeline2off {
  display: none;
}
.porject_container {
  overflow: initial;
}
.project_Content {
  padding: 0 1.5rem;
}
.project_img {
  width: 265px;
  border-radius: 0.5rem;
  justify-content: center;
}
.porject_title {
  font-size: 18px;
  margin-bottom: 0.5rem;
}
.portject_description {
  margin-bottom: 0.75rem;
}
.aboutme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  padding: 0.75rem;
  box-shadow: 5px 5px 19px 1px grey;
  padding: 3rem;
  border-radius: 2px;
  box-sizing: border-box;
}
.moon {
  background-color: #333;
  color: #fff;
  position: absolute;
  bottom: 1rem;
  position: fixed;
  z-index: 1;
}
.moon:hover {
  background-color: rgb(61, 13, 139);
  color: #fff;
  width: 5.3rem;
  border-radius: 0 5rem 5rem 0;
  box-shadow: rgb(33, 5, 85) 0 0 22px;
  z-index: 1;
}

.dark {
  background-color: rgb(18, 17, 21);
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
}

.social-icons {
  display: flex !important;
  height: 25vh;
  position: relative;
  top: -10% !important;
  bottom: -40px !important;
  justify-content: space-evenly !important;
}
.social_icons_footer {
  display: flex;
}
@media only screen and (max-width: 670px) {
  .Container {
    margin: 0;
    padding: 1rem;
  }
  .mask-img {
    padding: 0;
  }
  .contact_container {
    display: flex;

    flex-direction: column;
  }
  .Contact_deatil {
    display: flex;
    justify-content: center;
  }
  .contact_img {
    display: flex;
    justify-content: center;
  }
  .imgsection {
    margin: 3rem 0;
  }
}
@media only screen and (min-width: 650px) and (max-width: 990px) {
  .Container {
    margin: 0;
    padding: 1rem;
  }
  .imgsection {
    margin: 0;
  }
}

.contact_container {
  border: 2px solid rgb(66, 47, 79);
  justify-content: space-around;
  padding: 1rem;
  border-radius: 2rem;
}
.about_H {
  font-family: cursive;
  font-size: 20px;
  margin-bottom: 0.5rem;
  padding: 1rem 0;
}
.about_h2 {
  max-width: fit-content;
}
li {
  font-size: 18px;
  margin: 0.7rem 0;
}

.act {
  margin-bottom: 8rem;
}

.footersec-container {
  background-color:rgba(0, 0, 0, 0.896);
  color:white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  /* color: white; */
  width: 100%;
  font: 100 12px cursive;
  padding-left: 20px;
  padding-right: 20px;
  height: 2rem;
}
.social-icons {
  display: flex;
}

@media only screen and (max-width: 420px) {
  #social_dir {
    width: 100%;
    top: 0;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
  }
  .social-icons {
    height: 10vh;
    margin-top: 0 !important;
  }
}
